@import "root";

.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x:hidden;
    overflow-y: scroll;
    position: absolute;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    
    .wrapper{
        display: flex;
        flex-direction: row;
        width: 400vw;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
        .slider{
            height: 100vh;
            width: 100vw;
            position: inherit;
            
        }

        .four{
            background-color: $primary-color;
        }
    }
}

.outer-wrapper::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width: 480px){

    .two{
        margin-left: -4%;
    }
    .three{
        margin-left: -4%;
    }
    .four{
        margin-left: 8%;
    }


}